body{
    margin: 0px !important;
}

#header{
    height: 50px;
    background-color: #4267b3;
    color: white;
}

#newPersonID{
    width: 140px;
}

#newPersonPassword{
    width: 140px;
}

#searchProjects{
    display: inline;
    width: auto;
}

#searchPeople{
    display: inline;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#searchByDiv{
    position: relative;
    top: 5px;
}

#searchProjectsLabel{
    margin-left: 20px;
}

.show{
    display: none;
}

.hidden{
    display: none;
}

.hidden2{
    display: none !important;
}

.editProjectButtons{
    top: 2px;
    position: relative;
}

.project{
    height: 40px;
    margin-top: 10px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: black;
    border-style: solid;
}

.centerText{
     text-align: center;
     vertical-align: middle;
     line-height: 50px;
 }

.centerText2{
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    overflow: hidden;
    max-height: 40px;
}

.horizontalAlign{
    display: inline;
}

.horizontalFullName{
    display: inline;
    width: auto;
}

#addNewUserForm{
    background-color: lightgrey;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
}


#logOutButton{
    display: none;
}

#contentSection{
    display: none;
}

#createNewProjectButton{
    bottom: 2px;
    position: relative;
    padding: 5px 7px;
}

#createNewUserButton{
    top: 2px;
    left: 10px;
    position: relative;
}

#role{
    width: auto;
}

.deleteAndEditButtons{
    top: 2px;
    right: 4px;
    position: relative;
}

.collapse{
    display: none;
    overflow: hidden;
}


.submitAlign{
    display: inline;
    margin-left: 10px;
}

.marginForm{
    margin-right: 10px;
    margin-top: 10px;
}

.green{
    background-color: green;
    height:100%;
}

.orange{
    background-color: orange;
    height:100%;
}

.red{
    background-color: red;
    height:100%;
}