body{
    margin: 0px !important;
}

#header{
    height: 50px;
    background-color: #4267b3;
    color: white;
}

.show{
    display: none;
}

.hidden{
    display: inline;
}

.project{
    height: 40px;
    margin-top: 10px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: black;
    border-style: solid;
}

.centerText{
     text-align: center;
     vertical-align: middle;
     line-height: 50px;
 }

.centerText2{
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.horizontalAlign{
    display: inline;
}

.horizontalFullName{
    display: inline;
    width: auto;
}

#addNewUserForm{
    background-color: lightgrey;
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 10px;
}

#logOutButton{
    display: none;
}

#contentSection{
    display: none;
}

.deleteAndEditButtons{
    bottom: 3px;
    right: 4px;
    position: relative;
}

#role{
    width: auto;
}

.submitAlign{
    display: inline;
    margin-left: 10px;
}

.marginForm{
    margin-right: 10px;
    margin-top: 10px;
}

.projectLeader{

}

.projectDescription{

}

.projectTagColor{

}

.green{
    background-color: green;
    height:100%;
}

.orange{
    background-color: orange;
    height:100%;
}

.red{
    background-color: red;
    height:100%;
}